/** 健康块 */
.app-section {
    border-radius: 10px;
    background: #fff;
    padding: 14px;
    margin-top: 14px;
    padding-top: 0px;

    .app-section-header {
        width: 100%;
        height: 52px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px #eeeeee solid;

        .app-section-header-title {
            font-size: 16px;
            font-weight: 600;
        }

        .app-section-header-btn {
            border: 1px #e8e8e8 solid;
            border-radius: 14px;
            height: 28px;
            font-size: 14px;
            padding: 0 10px;
            color: #3873fe;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .app-section-bodyer {
        width: 100%;
    }
}

/** 健康颜色定义 */

.color-warning {
    color: #EE9E5E;
}

.color-health {
    color: #4DAD9B;
}

.color-risk {
    color: #F4C264;
}

.color-danger {
    color: #EA6D2C;
}

/** 健康颜色背景 **/
.bg-warning {
    background-color: #fcc14f;
}

.bg-health {
    background-color: #01b09a;
}

.bg-risk {
    background-color: #F4C264;
}

.bg-danger {
    background-color: #fa6400;
}