// 颜色
$colorBorder_gray: rgba(209, 224, 240, 1); //灰色边框颜色

// 字色
$fontColor_black: rgba(0, 0, 0, 1); // 黑色字色
$fontColor_blue: rgba(30, 144, 255, 1); // 蓝色字色
$fontSie_link: rgba(0, 191, 255, 1); // 链接颜色

// 字体大小
$fontSize_default: 16px;
$fontSize_small: 14px;
$fontSize_large: 18px;
$fontSize_xxl: 30px;
